{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medicina Holística</title>
  <link rel="icon" href="{% static "images/icono.png" %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static "main.css" %}">
</head>

<body>

  <header>

    <div class="header_logo">
      <a href="ingreso.html">
        <img src="{% static "images/logo.png" %}" class="logo" alt="logo">
      </a>
    </div>

  </header>

  <section class="login">

    <div class="card__login">
      <form action= "{% url "ingreso" %}">

      <div class="contenedor_ingreso">
        <div>
          <label class="form__control"></label>
          <input class="form__input" type="text" id="Usuiario" name="Usuario" placeholder="Usuario" required
            pattern="[A-Za-z]+">
        </div>

        <div>
          <label class="form__control"></label>
          <input class="form__input" type="password" id="Contraseña" name="Contraseña" placeholder="Contraseña" required minlength="10">
        </div>

        <div>
          <button class="form__button" type="submit">Iniciar sesión</button>
        </div>
      </div>

      </form>
    </div>

  </section>

</body>

</html>