{% load static %}

    <div class="logo">

      <a href="index.html">
        <img src="assets/images/logo.png" class="logo__img" alt="logo">
      </a>

      <nav class="menu">

        <ul class="menu__lista">

          <li class="menu__item">
            <a href="#" class="menu__link" target="_self"></a>
          </li>

          <li class="menu__item">
            <a href="{% url "inicio" %}" class="menu__link menu__link--active" target="_self">Inicio</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link" target="_self">Registrar nuevo paciente</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link" target="_self">Histórico paciente</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link" target="_self">Cargar documentos paciente</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link" target="_self">Contáctanos</a>
          </li>

          <li class="menu__item">
            <a href="ingresar.html" class="menu__link" target="_self">Ingresar</a>
          </li>

        </ul>

      </nav>

    </div>



